<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Serwis Aukcyjny</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Strona Główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction/list">Aukcje</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/home/auction/list/{id}(id=${category.id})}"
                               th:each="category : ${categories}" th:text="${category.categoryName}"></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction">Nowa aukcja</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login" class="btn btn-light btn-small navbar-btn">Logowanie</a>
                    </div>
                </li>
                <li>
                    <div class="btn-nav" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-primary btn-small navbar-btn" href="/home/register">Rejestracja</a>
                    </div>
                </li>
                <div class="dropdown"
                     sec:authorize="isAuthenticated()">
                    <a aria-expanded="false"
                       aria-haspopup="true"
                       class="nav-link dropdown-toggle text-white"
                       data-bs-toggle="dropdown"
                       href="#"
                       id="profileDropdown"
                       role="button">
                        <span sec:authentication="name">[USERNAME]</span>
                    </a>
                    <ul aria-labelledby="profileDropdown"
                        class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/user-page-view}">
                                Mój profil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/my-auctions}">
                                Moje Aukcje
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/followed}">
                                Obserwowane
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/purchased}">
                                Kupione Aukcje
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-danger fw-semibold"
                               th:href="@{/perform-log-out}">
                                Wyloguj
                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="alert alert-success alert-dismissible fade show"
             role="alert"
             th:if="${!message.isBlank()}"
             th:text="${message}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                 th:if="!${auction.user == loggedUser || isFollowed || isBought}">
                <form method="post"
                      th:action="@{/home/auction/follow/__${auction.getAuctionId()}__}">
                    <button class="btn btn-warning btn-lg px-4 me-sm-3" type="submit">
                        Obserwuj
                    </button>
                </form>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end"
                 th:if="!${auction.user == loggedUser || !isFollowed}">
                <form method="post"
                      th:action="@{/home/auction/follow/unfollow/__${auction.getAuctionId()}__}">
                    <button class="btn btn-danger btn-lg px-4 me-sm-3" type="submit">
                        Przestań obserwować
                    </button>
                </form>
            </div>
        </div>
        <div class="row gx-5 align-items-start justify-content-lg-end">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class=" text-break display-1 fw-bolder text-white mb-2" th:text="${auction.title}"></h1>
                    <h4 class="display-6 fw-bolder text-white mb-2"
                        th:text="${#strings.concat(auction.buyNowPrice,'PLN', ' - ', 'Cena kup teraz')}"></h4>
                    <h4 class="display-6 fw-bolder text-white mb-2"
                        th:text="${#strings.concat(auction.minimumPrice,'PLN' , ' - ', 'Aktualna licytacja')}"></h4>
                    <p class=" text-break lead fw-normal text-white-50 mb-4" th:text="${auction.description}"></p>
                </div>
                <div class="d-grid gap-3 d-sm-flex">
                    <div class="justify-content-sm-start justify-content-xl-start"
                         th:if="!${auction.user == loggedUser || isBought}">
                        <form method="post"
                              th:action="@{/home/auction/buy/__${auction.getAuctionId()}__}">
                            <button class="btn btn-secondary btn-lg px-4 me-sm-3" type="submit">Kup teraz
                            </button>
                        </form>
                    </div>
                    <div class="justify-content-sm-end justify-content-xl-end"
                         th:if="!${auction.user == loggedUser || isBought}">
                        <form method="post"
                              th:action="@{/home/auction/bid/__${auction.getAuctionId()}__}"
                              th:object="${bidding}"
                              enctype="multipart/form-data">
                            <button class="btn btn-secondary btn-lg px-4 me-sm-3" type="submit">
                                Licytuj
                            </button>
                            <div class="mb-3">
                                <label for="price" class="form-label"></label>
                                <input id="price" type="number" th:field="*{price}" class="form-control"/>
                                <div
                                        th:if="${#fields.hasErrors('price')}"
                                        th:text="${#fields.errors('price')[0]}"
                                        class="invalid-feedback-custom">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-4 d-none d-xl-block text-end">
                <img alt="..." class="img-fluid rounded-4 my-5" th:src="${auction.photosImagePath}"/>
            </div>
            <h4 class="display-9 fw-semibold text-danger mb-2 text-center"
                th:text="${#strings.concat('Aukcja kończy się ', auction.endDate)}"></h4>
        </div>
    </div>
</header>
</body>
</html>