<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Serwis Aukcyjny</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Strona Główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction/list">Aukcje</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/home/auction/list/{id}(id=${category.id})}"
                               th:each="category : ${categories}" th:text="${category.categoryName}"></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction">Nowa aukcja</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div sec:authorize="!isAuthenticated()">
                        <a href="/login" class="btn btn-light btn-small navbar-btn">Logowanie</a>
                    </div>
                </li>
                <li>
                    <div class="btn-nav" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-primary btn-small navbar-btn" href="/home/register">Rejestracja</a>
                    </div>
                </li>
                <div class="dropdown"
                     sec:authorize="isAuthenticated()">
                    <a aria-expanded="false"
                       aria-haspopup="true"
                       class="nav-link dropdown-toggle text-black"
                       data-bs-toggle="dropdown"
                       href="#"
                       id="profileDropdown"
                       role="button">
                        <span sec:authentication="name">[USERNAME]</span>
                    </a>
                    <ul aria-labelledby="profileDropdown"
                        class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/user-page-view}">
                                Mój profil
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/my-auctions}">
                                Moje Aukcje
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/followed}">
                                Obserwowane
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               th:href="@{/home/auction/purchased}">
                                Kupione Aukcje
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item text-danger fw-semibold"
                               th:href="@{/perform-log-out}">
                                Wyloguj
                            </a>
                        </li>
                    </ul>
                </div>
            </ul>
        </div>
    </div>
</nav>

<div class="container" th:if="${!userAuctions.isEmpty()}" sec:authorize="isAuthenticated()">
    <p class="h3">Moje Aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${userAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                    <a th:href="@{/home/auction/__${auction.getAuctionId()}__}" class="btn btn-primary">Przejdz do aukcji</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${!followedAuctions.isEmpty()}" sec:authorize="isAuthenticated()">
    <p class="h3">Obserwowane Aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${followedAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                    <a th:href="@{/home/auction/__${auction.getAuctionId()}__}" class="btn btn-primary">Przejdz do aukcji</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${!biddingAuctions.isEmpty()}" sec:authorize="isAuthenticated()">
    <p class="h3">Licytowane Aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${biddingAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                    <a th:href="@{/home/auction/__${auction.getAuctionId()}__}" class="btn btn-primary">Przejdz do aukcji</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${!newAuctions.isEmpty()}">
    <p class="h3">Nowe Aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${newAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                    <a th:href="@{/home/auction/__${auction.getAuctionId()}__}" class="btn btn-primary">Przejdz do aukcji</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="${auction.dateOfIssue}"></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${!endingAuctions.isEmpty()}">
    <p class="h3">Kończące się aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${endingAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                    <a th:href="@{/home/auction/__${auction.getAuctionId()}__}" class="btn btn-primary">Przejdz do aukcji</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted" th:text="${auction.endDate}"></small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" th:if="${!purchasedAuctions.isEmpty()}">
    <p class="h3">Zakończone aukcje</p>
    <div class="row row-cols-5 row-cols-md-5 g-4">
        <div class="col" th:each="auction : ${purchasedAuctions}">
            <div class="card">
                <img th:src="${auction.photosImagePath}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" th:text="${auction.title}"></h5>
                    <p class="card-text" th:text="${auction.description}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>