<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Serwis Aukcyjny</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Strona Główna</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction/list">Aukcje</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategorie
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" th:each="category : ${categories}" th:text="${category.categoryName}"></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/register">Rejestracja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/auction">Nowa aukcja</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>
        </div>
    </div>
</nav>
<body>
<div class="container">
    <form th:object="${user}" th:action="@{/home/register}" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">Adres e-mail:</label>
            <input id="login" class="form-control" type="text" th:field="*{login}">
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">Użytkownik:</label>
            <input id="userName" class="form-control" type="text" th:field="*{userName}">
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input id="password" class="form-control" type="password" th:field="*{password}">

        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Rola:</label>
            <select id="type" class="form-control" th:field="*{role}">
                <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Rejestruj</button>
        </div>
    </form>
</div>
</body>
</html>