<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body class="bg-dark text-center">
<h1>Login page</h1>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-5 col-md-4 col-lg-3">
            <!-- Początek formularza rejestracji użytkownika -->
            <form th:object="${user}" th:action="@{/home/register}" method="post">
                <h1 class="h3 mb-3 fw-normal text-white">Rejestracja</h1>


                <div class="form-floating">
                    <input class="form-control"
                           id="login"
                           name="login"
                           placeholder="Adres e-mail"
                           autofocus="autofocus"
                           th:field="*{login}"/>
                    <label for="login">Adres e-mail</label>
                    <div
                            th:if="${#fields.hasErrors('login')}"
                            th:text="${#fields.errors('login')[0]}"
                            class="invalid-feedback-custom">
                    </div>
                </div>

                <div class="form-floating">
                    <input class="form-control"
                           id="userName"
                           name="userName"
                           placeholder="Nazwa użytkownika"
                           autofocus="autofocus"
                           type="text"
                           th:field="*{userName}">
                    <label for="userName">Nazwa użytkownika</label>
                    <div
                            th:if="${#fields.hasErrors('userName')}"
                            th:text="${#fields.errors('userName')[0]}"
                            class="invalid-feedback-custom">
                    </div>
                </div>


                <div class="form-floating">
                    <input class="form-control"
                           id="password"
                           name="password"
                           placeholder="Hasło"
                           autofocus="autofocus"
                           type="password"
                           th:field="*{password}">
                    <label for="password">Hasło</label>
                    <div
                            th:if="${#fields.hasErrors('password')}"
                            th:text="${#fields.errors('password')[0]}"
                            class="invalid-feedback-custom">
                    </div>
                </div>

                <!-- wstawiam lokalizację  -->
                <form th:object="${localization}" th:action="@{/home/register}" method="post">
                    <div class="form-floating">
                        <select class="form-select"
                                id="voivodeship"
                                aria-label="Floating label select example"
                                name="voivodeship"
                                th:field="*{voivodeship}">
                            <option th:each="value : ${voivodeships}" th:value="${value}" th:text="${value}"></option>
                        </select>
                        <label for="voivodeship">Województwo</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control"
                               id="miasto"
                               name="miasto"
                               placeholder="miasto"
                               autofocus="autofocus"
                               type="text"
                               th:field="*{city}">
                        <label for="miasto">Miasto</label>
                    </div>
                    <div class="form-floating">
                        <input class="form-control"
                               id="adres"
                               name="adres"
                               placeholder="Miasto"
                               autofocus="autofocus"
                               type="text"
                               th:field="*{address}">
                        <label for="adres">Ulica</label>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-success">Rejestruj</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <div class="text-primary">
        <a th:href="@{/home}">Strona główna</a>
    </div>
    <div class="text-secondary">
        <a th:href="@{/home/register}">Rejestracja</a>
    </div>
</div>
</div>

</body>
</html>