<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:object="${user}" th:action="@{/home/register}" method="post">
        <div class="mb-3">
            <label for="login" class="form-label">Adres e-mail:</label>
            <input id="login" class="form-control" type="text" th:field="*{login}">
        </div>
        <div class="mb-3">
            <label for="userName" class="form-label">Użytkownik:</label>
            <input id="userName" class="form-control" type="text" th:field="*{userName}">
        </div>


        <div class="mb-3">
            <label for="password" class="form-label">Hasło:</label>
            <input id="password" class="form-control" type="password" th:field="*{password}">

        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Rola:</label>
            <select id="type" class="form-control" th:field="*{type}">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Rejestruj</button>
        </div>
    </form>
</div>
</body>
</html>