<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="alert alert-success alert-dismissible fade show"
       role="alert"
       th:if="${!message.isBlank()}"
       th:text="${message}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Login</th>
      <th>Użytkonik</th>
      <th>Data założenia</th>
      <th>Typ konta</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.login}"></td>
      <td th:text="${user.userName}"></td>
      <td th:text="${user.startDate}"></td>
      <td th:text="${user.type}"></td>

    </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" href="/home/register" role="button" target="_parent">Dodaj użytkownika</a>
  </div>
</div>
</body>
</html>