<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Serwis Aukcyjny</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Strona Główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/auction/list">Aukcje</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/home" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Kategorie
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" th:each="category : ${categories}" th:text="${category.categoryName}"></a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/register">Rejestracja</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/auction">Nowa aukcja</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Szukaj</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <div class="alert alert-success alert-dismissible fade show"
       role="alert"
       th:if="${!message.isBlank()}"
       th:text="${message}">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Login</th>
      <th>Użytkonik</th>
      <th>Data założenia</th>
      <th>Typ konta</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.login}"></td>
      <td th:text="${user.userName}"></td>
      <td th:text="${user.startDate}"></td>
      <td th:text="${user.type}"></td>

    </tr>
    </tbody>
  </table>
  <div>
    <a class="btn btn-primary" href="/home/register" role="button" target="_parent">Dodaj użytkownika</a>
  </div>
</div>
</body>
</html>